openai==1.57.4
langchain==0.3.12
langchain-openai==0.2.12
langchain-community==0.3.12
openai-whisper==20240930
sentence-transformers==3.2.1
pdf2image==1.17.0
pillow==11.0.0
pandas==2.2.2
scikit-learn==1.5.2
torch==2.5.1+cu121
IPython==7.34.0
jupyter_client==6.1.12
jupyter_core==5.7.2
notebook==6.5.5